/*
 * Copyright 2005-2015
 * - Melanie Bats <melanie POINT bats CHEZ utbm POINT fr>
 * - Thomas Petazzoni <thomas POINT petazzoni CHEZ enix POINT org>
 * - Jean-Marie Favreau <jeanmarie POINT favreau CHEZ free POINT fr>
 *
 * This file is part of agenda-libre-php.
 *
 * agenda-libre-php is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * agenda-libre-ph is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with agenda-libre-php.  If not, see <http://www.gnu.org/licenses/>.
 */

div.main {
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    color: black;
    background-color: white;
  }


div.footer {
    color: black;
    background-color: white;
    font-size: 10pt;
    margin: 5px 5px 5px 5px;
    text-align: center;
  }

#important {
    /*position: relative;*/
    border: 1px dashed black;
    float: right;
    top: 0em;
    width: 160px;
    margin-left:1em;
  }

div.main p {
    text-align: justify;
  }

.main p { margin: 15px 0px; color: #36388b; line-height: 1.3em; }
.main hr { margin: 10px 20px;}
.main pre { text-align: left; background: #eeeeee; overflow: auto; width: 60%; margin: auto; }

#important p {
    margin: 0;
    padding: 5px;
    font-size: 12px;
  }


form {
    margin: 0;
    padding: 0;
  }


form table {
    border-style : solid;
    border-color : #888;
    border-width : 0px;
  }

form td {
    border-top-style : solid;
    border-color : #888;
    border-width : 1px;
  }

select {
    border: 0px #eee solid;
  }

h1, h1 a, h1 a:hover, h1 alink, h1 a:visited, h1 a:active {
    font-size: 18pt;
    color:#36388b;
}

h2 {
    margin-top: 3em;
    text-align: center;
  }


h2.calendar {
    margin-top: 1em;
  }


h3.calendar {
    text-align: center;
  }

/* Selection region */

form.calendar p {
    margin-bottom: 20px;
    text-align: center;
  }


form.calendar select {
    border: 1px solid #AAAAAA;
  }

div.main a, a:link, a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #36388b;
  }

/*
div.main a:hover, a:active {
    color: #36388b;
  }
*/

div.main table.calendar {
    width: 90%;
    margin: 0 auto;
  }


div.main table.calendar td {
    height: 6em;
    vertical-align: top;
    width: 14%;
    font-size: 11px;
    text-align: left;
    color: #444444;
  }


div.main table.calendar td h1 {
    text-align: left;
    color:#000000;
    font-size: 10px;
    margin: 1px 1px 1px 1px;
  }


div.main table.calendar td ul {
    padding-left: 15px;
    margin: 0;
    list-style-type: disc;
  }


div.main table.calendar td ul li {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    line-height: 1.2em;
  }

/*
 * These attributes apply to all cells of the agenda
 */

div.main td a:link, td a:visited {
    font-weight: normal;
    text-decoration: none;
    color: #000000;
  }


div.main td a:hover, td a:active {
    color: #222222;
  }

/*
 * These attributes apply to the cells that correspond to the days
 * already past in the current month.
 */

div.main td.past_month {
    background: #ababce;
    border: 1px #6c6cad solid;
  }

div.main td.past_month a:hover, td.past_month a:active {
    color: #000000;
  }

/*
 * These attributes apply to the cells that correspond to the future
 * days in the current month.
 */

div.main td.current_month {
    background: #c6d2e8;
    border: 1px #6480b3 solid;
  }

/*
 * These attributes apply to the cell corresponding to the current day
 */

div.main td.today {
    border: 1px #888 solid;
  }

/*
 * These attributes apply to the cells that correspond to days in the
 * previous or next month of the current month
 */

div.main td.other_month {
    background: #eeeeee;
  }


div.main td.other_month a:link,  td.other_month a:visited {
    color: #777777;
  }


div.main td.other_month a:hover, td.other_month a:active {
    color: #aaaaaa;
  }


div.main p.error {
    color: red;
    text-decoration: bold;
  }

/*
 * Region map (used only by map.php)
 */


div.main #region-map {
    border: 0;
    margin-left: 16em;
  }

div.main dl.region-map-event {
    border: 1px #364970 solid;
    background: #dfedff;
    position: absolute;
    text-align: left;
    padding: 3px;
    width: 15em;
    z-index: 2;
    margin: 0.5em 0 0 0;
    overflow: hidden;
    list-style: none;
  }

div.main dl.region-map-event dt {
    font-size: 13px;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 0.2em;
    border-bottom: 1px solid black;
  }


div.main dl.region-map-event dd {
    border: none;
    padding: 0;
    margin: 0;
    font-weight: normal;
    margin-bottom: 0.3em;
    font-size: 12px;
  }


div.main dl.region-map-event ul {
    line-height: 1.2em;
  }

/*
 * Advises for event submission. (used only in submit.php)
 */

div.main #advises {
    background-color: #dfedff;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }

/* Moderation interface specific definitions */
p.moderationheader {
           background: #cccccc;
           margin-left: 5em;
           margin-right: 5em;
           font-size:1.1em;
}

div.moderationbox {
          background: #cccccc;
          width: 90%;
          padding: 1em;
          margin: auto;
          margin-bottom: 10px;
}

p.moderationheader a {
          color:#228866;
}

div.moderationbox a:link {
          color:#228866;
}

/*
 * Statistics (used only by stats.php)
 */


div.main table.stats {
    width: 60%;
  }


div.main table.stats tr.odd {
    background-color: #dfedff;
  }


div.main table.stats tr.even {
    background-color: #b9d8ff;
  }


div.main table.stats td.item {
    width: 90%;
  }


div.main table.stats td.value {
    text-align: right;
  }

/*
 * Localgroup list (used only by showevent.php)
 */

div.main #localgroup-list {
    border: 1px #364970 solid;
    background: #dfedff;
    float: right;
    margin-right: 1.2em;
    margin-top: 8em;
    margin-left: 1.2em;
    width: 15em;
    padding: 5px;
    font-size: 12px;
  }


div.main #localgroup-list h1 {
    font-size: 1.2em;
    border-bottom: 1px black solid;
    padding-bottom: 2px;
  }


div.main #localgroup-list ul {
    line-height: 1.2em;
  }


div.main #subtitle {
    margin-top: 0;
    text-align: center;
    font-size: 80%;
  }

p.error {
    color: red;
    font-weight: bold;
}

p.warning {
    color: orange;
    font-weight: bold;
}

p#notice {
    font-size: 0.8em;
    text-align: right;
    width: 90%;
    margin: 10px auto;
}

h2.calendar {
    margin-top: 1em;
    color : #000;
    /*font-size: 1.5em; */
    margin-bottom: 5px;
}
h2.calendar a {
    font-weight: normal;
}

h3.calendar {
    text-align: center;
}
/* Selection region */
form.calendar p {
    margin-bottom: 20px;
    text-align: center;
}
h2.calendar select {
    border: 1px solid #AAAAAA;
    }
table {
    text-align: left;
}
/* Table principale */
table.calendar {
    width: 90%;
    margin: 0 auto;
}
table.calendar th {
    padding-bottom: 5px;
    text-align: center;
}
table.calendar td {
    height: 6em;
    width: 14%;
    -moz-border-radius: 5px;
    vertical-align: top;
    text-align: left;
    font-size: 0.8em;
    color: #444444;
}

table.calendar td h1 {
    margin: 0px 1px 3px 1px;
    text-align: left;
    font-size: 0.8em;
    color : #727070;
    line-height: 1.1em;
    background: none;
}

table.calendar td:hover h1 {
    color: #000;
}

table.calendar td ul {
    padding-left: 15px;
    margin: 0px;
    list-style-type: circle;
}

table.calendar td ul li {
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
    line-height: 1.1em;
}



/*
 * These attributes apply to all cells of the agenda
 */
td a:link, td a:visited {
    font-weight: normal;
    text-decoration: none;
    color: #444444;
}

td a:hover, td a:active {
    color: #000;
}

/*
 * These attributes apply to the cells that correspond to the days
 * already past in the current month.
 */
td.past_month {
    background: #c6d2e8;/*#C9E2F5;*/
    border: 1px solid #89B7E5;/*#6D94BE;/* #C9E2F5;;/*#ADCCE5;*/

}

td a:link,td a:visited {
    color: #666;
}

td.past_month a:hover, td.past_month a:active,td.current_month  a:hover{
    color: #000;
}

/*
 * These attributes apply to the cells that correspond to the future
 * days in the current month.
 */
td.current_month {
    background: #c6d2e8;
    border : 1px solid #6480b3;/*#97C8F0;/*#B4DDFF;*/
}
table.calendar td.current_month h1 {
    font-size: 1em;
}
table.calendar td.past_month h1 {
    font-size: 0.8em;
}
/*
 * These attributes apply to the cell corresponding to the current day
 */
td.today {
    background: #ffe0c7;/*#FFC991;*/
    border: 1px solid #FFB578;/*#FFC991;/*#FFB05F*/
}

table.calendar td.today h1 {
    font-size: 1em;
    color : #544f32;
}
table.calendar td.today a {
    color :  #8F4900;
}
table.calendar td.today a:hover {
    color : #543a1f;/*#523c31;/*#FF9A00;*/
}

/*
 * These attributes apply to the cells that correspond to days in the
 * previous or next month of the current month
 */
td.other_month {
    background: #ededed;
}

td.other_month a:link,  td.other_month a:visited {
    color: #888;
}

td.other_month a:hover, td.other_month a:active {
    color: #000;
}

/* Carte evenements/localgroups */

#region-map {
    border: 0px;
    margin-left: 16em;
}

dl.region-map-event {
    position: absolute;
    background: #DFEDFF;
    border: 1px solid #A3CCFF;
    margin: 0.5em 0 0 0;
    padding: 3px;
    width: 16em;
    z-index: 2;
    text-align: left;
    overflow: hidden;
    list-style: none;
}

dl.region-map-event dt {
    border-bottom: 1px solid #000;
    margin-bottom: 0.2em;
    font-size: 0.9em;
    line-height: 1.4em;
}

dl.region-map-event dd {
    border: none;
    margin-bottom: 0.3em;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 1.1em;
}

dl.region-map-event ul {
    line-height: 0.8em;
}
dl.region-map-event li {
    margin-left: 0px;
}
/*
 * Advises for event submission. (used only in submit.php)
 */
#advises {
    background: #ffe0c7;/*#FFC991;*/
    border: 1px solid #FFB578;/*#FFC991;/*#FFB05F*/
    margin: 10px 100px 20px 100px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#advises h1 {
    font-size: 1.9em;
    font-weight: normal;
}

/*
 * Statistics (used only by stats.php)
 */

table.stats {
    width: 60%;
}

table.stats tr.odd,table.list tr.odd {
    background-color: #D1EAFF;
}

table.stats tr.even,table.list tr.even {
    background-color: #C9E2F5;
}

table.stats td.item,table.list td.item {
    width: 90%;
  padding: 0.2em;
}

table.stats td.value {
    text-align: right;
}
table.list {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
table.list td {
  text-align: center;
  padding: 0.2em;
}
table.list a {
    font-weight: bold;
    color: #336699;
}
table.list td a:hover, a:active {
  text-decoration: underline;
  color: #336699;
}
/*
 * Localgroup list (used only by showevent.php)
 */
#localgroup-list {
    float: right;
    background: #D6ECFF;/*#C6E5FF;*/
    border : 1px solid #96CFFF;
    -moz-border-radius: 10px;
    margin: 8em 1.2em 0px;
    padding: 5px;
    width: 15em;
    font-size: 0.7em;
}

#localgroup-list h1 {
    border-bottom: 1px black solid;
    padding-bottom: 4px;
    font-size: 1.3em;
    line-height: 1.1em;
    font-weight: normal;
    font-family: Georgia,sans-serif;
}

#localgroup-list ul {
    text-align: left;
    line-height: 1.2em;
    margin-left:1em;
}
#advises a{
    color :  #8F4900;
}
#advises a:hover {
    color : #543a1f;
}

/* Moderation interface specific definitions */
p.moderationheader {
           background: #cccccc;
           margin-left: 5em;
           margin-right: 5em;
}

div.moderationbox {
          background: #cccccc;
          width: 70%;
          padding: 1em;
          margin: auto;
          margin-bottom: 10px;
}
