#main-nav ul, #main-nav li {
  margin:0;
  padding:0;
  list-style-type:none;
}
#main-nav{
	position:relative;
	z-index:100;
	font-size:1.1em;
}

#main-nav li{
	float:left;
	position:relative;
	width:auto;
	padding:0;
}

#main-nav li a{
	color:#36388B;
	display:block;
	font-weight:bold;
	padding:7px 15px;
	text-decoration:none;
}
#main-nav li a:hover, #main-nav li a:focus, #main-nav .main-entities a.active {
	color:#ffffff;
	background-color:#36388B;
}
/* Sous menu */
#main-nav ul ul{
	width:12em;
	color:#FFFFFF;
	position:absolute;
	z-index:100;
	border:1px solid #5560C8;
	background-color:#36388B;
}

/* onglet net public en bleu */
#main-nav li.netpublic li a, #main-nav li.netpublic li span, #main-nav li.encourt.netpublic ul a {
	background-color:#5560C8;
	color:#fff;	
}

#main-nav li.netpublic li a:hover, #main-nav li.netpublic li span:hover, #main-nav li.netpublic li.encourt span, #main-nav li.netpublic li.encourt a, #main-nav li.netpublic li.focus a{
	background-color:#fff;
	color:#5560C8;
}

/* onglet net emploi en vert */
#main-nav li.netemploi li a, #main-nav li.netemploi li span, #main-nav li.encourt.netemploi ul a {
	background-color:#20898C;
	color:#fff;
}

#main-nav li.netemploi li a:hover, #main-nav li.netemploi li span:hover, #main-nav li.netemploi li.encourt span, #main-nav li.netemploi li.encourt a, #main-nav li.netemploi li.focus a{
	background-color:#fff;
	color:#006668;
}
#main-nav .netpublic a:hover, #main-nav .netpublic a:focus, #main-nav .netpublic li span:hover, #main-nav .netpublic li span:focus, #main-nav li.netpublic.encourt a { background-color:#37398c; }
#main-nav .netemploi a:hover, #main-nav .netemploi a:focus, #main-nav .netemploi li span:hover, #main-nav .netemploi li span:focus, #main-nav li.netemploi.encourt a { background-color:#006668; }

#main-nav ul li.netpublic ul {border:1px solid #37398c;}
#main-nav ul li.netemploi ul {border:1px solid #006668;}
#main-nav ul li.netpublic ul li { border-top:1px solid #37398c; }
#main-nav ul li.netemploi ul li { border-top:1px solid #006668; }
#main-nav ul li.netpublic ul li:first-child, #main-nav ul li.netemploi ul li:first-child {	border-top:0; }

#main-nav li li a {
  color:#FFFFFF;
} 
.no-js #main-nav ul ul{
	left:-9999em; /* sort le bloc de la zone d'affichage */
}
 
.no-js #main-nav li:hover ul{
	left:0; /* au lieu de -9999em : remet le bloc dans la zone d'affichage */
}

#main-nav ul ul li{
	float:left;
	width:100%;
	background:none;
	border-top:1px solid #5560C8;
}
#main-nav ul ul li a {
  padding:2px 5px;
}

#main-nav ul ul li:first-child{	border:0; }

#main-nav ul ul a:hover, #main-nav ul ul a:focus{
	color:#ffffff;
	background:#5560C8;
}

/* 2eme niveau de sous menu */
#main-nav ul ul ul {
  width:12em;
  left:12em;
  top:0;
}  

/* 3° niveau */
#main-nav li li li a, #main-nav li li li span, #main-nav li li.encourt li a{
	background-color:#5560C8;
	color:#FFF;	
}

#main-nav li li li a:hover, #main-nav li li li span:hover, #main-nav li li li a:hover, #main-nav li li.encourt li.focus a{
	background-color:#FFF;
	color:#5560C8;
}

/*#menu .netemploi { background-color:#36388B; }
#menu .netpublic a, #menu .netpublic a { color:#fff; }*/

#menu {
  position:relative;
  z-index:100;
}
#menu li{
  float:left;
  position:relative;
}
#menu ul{
  font-weight:bold;
  color:#36388B;
  margin:0 1px;
  padding:0;
}

#menu ul ul{
  color:#36388B;
  margin:0;
  padding:0;
  border-top:1px solid  #5560C8;
  border-left:1px solid  #5560C8;
  border-right:1px solid  #5560C8;
  border-bottom:none;
  width: 12em;
  display:none;
  background-color:#36388B;;
}



#menu ul ul ul{
  margin:0;
  padding:0;
  width: auto;
}


#menu li{
  list-style-type:none;
  float:left;
  padding:0;
  width:auto;
}
#menu ul li li li {
  float:none;
}
#menu ul li ul li{
  list-style-type:none;
  clear:left;
  margin:0;
  padding:0;
  float:left;
  width:100%;
  height:100% !important;
  position:relative !important;
  border-bottom:1px solid  #5560C8;
}
#menu ul li.netpublic ul li { border-bottom:1px solid #37398c; }
#menu ul li.netemploi ul li { border-bottom:1px solid #006668; }





#menu li a, #menu li span {
  display:block; 
  margin:0;
  padding : 7px 15px; 
  text-decoration:none;
  color:#36388B;
  border-width:0;
 /* margin-top:-5px; */
}


#menu li ul li a {
  background-color: #F2F0F1; 
  color:#36388B;
  padding : 2px 5px;  
}

#menu li a:hover, #menu li a:focus, #menu li span:hover, #menu li span:focus, #menu li.encourt a {
	color:#FFFFFF;	
	background-color:#36388B;
}

  #menu .netpublic a:hover, #menu .netpublic a:focus, #menu .netpublic li span:hover, #menu .netpublic li span:focus, #menu li.netpublic.encourt a { background-color:#37398c; }
  #menu .netemploi a:hover, #menu .netemploi a:focus, #menu .netemploi li span:hover, #menu .netemploi li span:focus, #menu li.netemploi.encourt a { background-color:#006668; }
  /*#menu .red_tab a:hover, #menu .red_tab a:focus, #menu .red_tab li span:hover, #menu .red_tab li span:focus, #menu li.red_tab.encourt a { background-color:#ca0a33; }*/


/* 2° niveau */
#menu li li a, #menu li li span, #menu li.encourt li a {
	background-color:#36388B;
	color:#FFF;
}

#menu li li a:hover, #menu li li span:hover, #menu li li.encourt span, #menu li li.encourt a, #menu li li.focus a{
	background-color:#5560C8;
	color:#fff;
}

 

  /* onglet en rouge 
  #menu li.red_tab li a, #menu li.red_tab li span, #menu li.encourt.red_tab ul a {
  	background-color:#FFF;
  	color:#ca0a33;
  }

  #menu li.red_tab li a:hover, #menu li.red_tab li span:hover, #menu li.red_tab li.encourt span, #menu li.red_tab li.encourt a, #menu li.red_tab li.focus a{
  	background-color:#ca0a33;
  	color:#FFF;
  }
  */


/* 3° niveau */
#menu li li li a, #menu li li li span, #menu li li.encourt li a{
	background-color:#5560C8;
	color:#FFF;	
}

#menu li li li a:hover, #menu li li li span:hover, #menu li li li a:hover, #menu li li.encourt li.focus a{
	background-color:#FFF;
	color:#5560C8;
}


/* Niveau 1, 2 et 3 masqué */

.withjavascript .submenu ul,
.withjavascript .encourt .submenu ul,
.withjavascript .encourt .encourt .submenu ul{
	position:absolute;
	top:-300em;
	width:0px;
	height:0px;
	margin:0px;
}

/* Niveau 1, 2 et 3 affiché */

.withjavascript li.encourt{
	position:relative;
}

.withjavascript .encourt ul,
.withjavascript .encourt .encourt ul,
.withjavascript .encourt .encourt .encourt ul{
	top:1.5em;
	width: 12em;
	height:auto;
	z-index:50;
}

.withjavascript .encourt .encourt ul,
.withjavascript .encourt .encourt .encourt ul{
	z-index:70;
}

#header .withjavascript .encourt .encourt ul, #header .withjavascript .encourt .encourt .encourt ul{
	left: 12em;
	width: 12em;
	top:0em;
	padding-right:0px;
}

.itemBackground {
	position: absolute;
	width /**/: 98%;
	height /**/: 99%;
	z-index: -1;
	display: block;
}
#header #menu li li.skipli{
	position: absolute !important;
	top:-500px !important;
}


#header a.ciblea {
	position:absolute;
	top:-500px;
}

/* IE mac correction \*//*/
 #menu li{
    width:12em;
}
/**/

 /* IE PC bug correction\*/
* html #menu li li a, * html #menu li li span{
height:1%;
}

* html #menu li li.submenu{
height:1%;
margin-bottom:-0.3em;
margin-bottom /*ie 5.0 correction*//*\*/: /**/ /*\*/-0.3em;
}

* html #menu li li{
margin-bottom /*ie 5.0 correction*//*\*/: /**/ /*\*/-0.3em;
height:1%;
height /*ie 5.0 correction*//*\*/: /**/ /*\*/1% !important;
}

* html #menu li li li{
margin-bottom /*ie 5.0 correction*//*\*/: /**/ /*\*/-0.3em;
}

* html #menu.withjavascript  li li{
margin-left /*ie 5.5 et 5.0 correction*//*\*/:-1.4em;
}

* html #menu.withjavascript  li li li{
margin-left /*ie 5.5 et 5.0 correction**//*\*/:-1.5em;
}

* html #menu.withjavascript  ul ul ul{
margin-left /*ie 5.5 et 5.0 correction*//*\*/:0em;
}

* html #menu.withjavascript .itemBackground {
	width:auto;
}

* html #menu.withjavascript li li .itemBackground {
	height /**/: 97%;
	width /**/:100%;
}
