/*
Theme Name: Basic
Theme URI: http://www.buzzaka.com/
Description: Theme WP de base.
Author: Paul-Henri Chelle <paul-henri.chelle@buzzaka.com>
Author URI: http://www.buzzaka.com/
Version: 1.0
Tags: fixed-width, two-columns, right-sidebar, translation-ready

License: This theme is released under GNU GPL.
*/


/* --- STYLES DE BASE --- */
html { font-size: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Grande', Arial, Verdana, sans-serif;
  font-size: .8em;
  line-height: 1.4;
  color: #56555a;
  background:#FAF8FB url(../image/bg_body_netpublic.jpg) no-repeat center top;
}


ul, ol { margin: .75em 0 .75em 18px; padding: 0; }
p { margin: .75em 0; }


/* Titres */
h1, h2, h3, h4, h5, h6 {
  margin: 0; /*1em 0 .5em 0;*/
  line-height: 1.2;
  font-weight: bold;
  font-style: normal;
}
h1 { font-size: 1.4em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.1em; }
h4 { font-size: 1em; }


/* Liens */
a { text-decoration: underline; }
a:link { color: #36388B; }
a:visited { color: #36388B; }
a:hover, a:focus, a:active {
color: #36388B;
text-decoration: underline;
}
a:active { outline: none; }  /* Pas de bordure pointillée ou halo lors du clic sur un lien */
a img { border: none; } /* Pas de bordure autour des images dans les liens */


/* Divers éléments de type en-ligne */
em { font-style: italic; }
.strong { font-weight: bold; }
.small { font-size: .9em; }
.big { font-size: 1.2em; font-weight: bolder; }
cite { color: #333; }
code { font: 1.2em 'Courier New', Courier, Fixed; }
acronym, abbr { font-size: 0.9em; letter-spacing: .07em; }
blockquote { color: #777; margin: 15px 30px 0 20px; padding-left: 10px; border-left: 5px solid #ddd; }


/* Formulaires */
form, fieldset { margin: 0; padding: 0; border: none; }
input, button, select { vertical-align: middle; } /* Solution pb. d'alignement. */


/* Mise en forme simple pour les tableaux
table {
  margin: 0;
  border: 1px solid gray;
  border-collapse: collapse;
  border-spacing: 0;
}
table td, table th {
  padding: 4px;
  border: 1px solid #ccc;
  vertical-align: top;
}
*/

/* Raccourcis */
.left { float: left; }
.right { float: right; }
.text-left { text-align:left; }
.text-right { text-align:right; }
.center { text-align: center; }
.clear { clear:both; }
.hidden { display:none; }
.uppercase { text-transform: uppercase; }


.formulaire p { text-align: left; }
.formulaire label {
  display:inline;
  float:left;
  margin-right:5px;
  text-align:right;
  width:150px;
  font-weight:bold;
}
label.noclass {
  display:inline;
  float:none;
  margin-right:0;
  text-align:left;
  width:auto;
  font-weight:normal;
}

.big_title {
  font-size:1.8em;
  font-weight:bold;
  color:#36388B;
  padding-bottom:13px;
}
/* --- FIN STYLES DE BASE --- */




#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

#mdp {
  width: 560px;
  padding: 30px;
  display:none;
  background: #fff;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

#fil-twitter {
    width: 520px;
    margin: 0 auto;
}
/********** CAROUSEL HOME **********/
#carousel-home .titles .slides_container .slides_control li img{
  width:72px;
  height:48px;
}
#carousel-home{
    margin-bottom:10px;
    position:relative;
}

/* Large */

#carousel-home .large .jcarousel-clip, #carousel-home .large .slides_container li{
    height:296px;
    width:747px;
    overflow:hidden;
}

#carousel-home ul{
    margin:0;
}

#carousel-home li{
    margin:0;
    list-style:none;
}

#carousel-home .large .pagination{
    display:none;
}

/* Titles */

#carousel-home .titles{
    position:absolute;
    left:0;
    bottom:0;
    z-index:10;
    padding:1px 12px 1px 20px;
    background:url(../image/bg-std.png) left top repeat;
}

#carousel-home .slide_np{
    background:url(../image/bg-std-p.png) left top repeat;
}

#carousel-home .titles .desc{
    /*margin-top:6px;*/
    float:left;
    width:428px;
    color: white;
    font-size:1.6em;
    font-style:normal;
    margin-right:10px;
    line-height:1.2;
}
#carousel-home .slide_np .desc{
    color:#0d0f66;
}

#carousel-home .titles .desc small{
    display:block;
    margin-top:4px;
    font-size:0.6875em;
}

#carousel-home .thumbs{
    width:230px;
    height:50px;
    float:left;
    position:relative;
}

#carousel-home .thumbs li{
    width:230px;
    height:50px;
    overflow:hidden;
}

#carousel-home .thumbs img{
    float:left;
    display:inline;
    margin-right:1px;
    border:1px solid #2b1727;
}

#carousel-home .thumbs .active img{
    border:1px solid white;/*#afb801;*/
}

#carousel-home .slide_np .thumbs .active img{
    border:1px solid #0D0F66;/*#afb801;*/
}

#carousel-home .thumbs .next, #carousel-home .thumbs .prev{
    width:7px;
    height:50px;
    display:block;
    text-indent:-9999em;
    position:absolute;
    top:0;
    left:-10px;
    outline:0;
    background:url(../image/nav-carousel.png) left top no-repeat;
}
#carousel-home .thumbs .next{
    left:229px;
    background-position:left bottom;
}
#carousel-home .slide_np .thumbs .next, #carousel-home .slide_np .thumbs .prev{
    width:7px;
    height:50px;
    display:block;
    text-indent:-9999em;
    position:absolute;
    top:0;
    left:-10px;
    outline:0;
    background:url(../image/nav-carousel-p.png) left top no-repeat;
}
#carousel-home .slide_np .thumbs .next{
    left:229px;
    background-position:left bottom;
}

/* --- WORDPRESS --- */

#page {
  width: 990px;
  margin: auto;
}



  #header .tagline {
    float:right;
    font-size:1.5em;
    color:#fff;
  }

  #menu_header img { margin:7px 10px 0 0; }

  #menu_header {
    position:relative;
    z-index:60;
    background:transparent url('../image/bg_menu.png') no-repeat left top;
    padding:3px 15px 0 15px;
    height:40px;
  }

#leftmenu {
  width:220px;
  float:left;
}

#content {
  float:left;
  width: 540px;
}

  #content .bloc_center {
    padding:25px 30px 5px 30px;
    background:transparent url('../image/bg_column_center_big.png') no-repeat center top;/*large*/
  }

  #content .bloc_center_bottom {
    height:18px;
    background:transparent url('../image/bg_column_center_large.png') no-repeat center bottom;
  }

#content_2cols {
  float:left;
  width: 760px;
}

  #content_2cols .bloc_center {
    padding:25px 30px 5px 30px;
    background:transparent url('../image/bg_column_center_big.png') no-repeat center top;
  }

  #content_2cols .bloc_center_bottom {
    height:18px;
    background:transparent url('../image/bg_column_center_big.png') no-repeat center bottom;
  }

#content_1col {
  float:left;
  width: 980px;
}

  #content_1col .bloc_center {
    padding:25px 20px 5px 20px;
    background:transparent url('../image/bg_column_1col.png') no-repeat center top;
  }

  #content_1col .bloc_center_bottom {
    height:18px;
    background:transparent url('../image/bg_column_1col.png') no-repeat center bottom;
  }


#rightmenu, #sidebar {
  float:left;
  width: 220px;
  padding-top:5px;
}
.tag {
  font-size:10px;
}
.tag a{
    text-decoration:none;
    padding: 0 .3em;
    }

.tag a:hover{
    text-decoration:underline;
}

#footer {
  text-align: left;/*center;*/
  padding: 10px;
  color:#36388B;
  background:transparent url('../image/img_footer_line_netpublic.png') no-repeat center top;
  margin-top:20px;
}

  #footer ul {
    margin: .75em 40px;
  }

  #footer li {
    display:list-item;/*block*/
    margin-top:0px;
    font-size:8px;
    /*margin-left:10px;*/
  }
/*
  #footer #logo li {
    margin:0 30px;
  }
  */

   #footer #logo {
    float:left;
    width: 160px;
  }

  #footer .col{
    width: 160px;
    float:left;
  }

  #footer a {
    color:#36388B;
    text-decoration: none;/*underline;*/
    font-size: 11px;
  }
  #footer a:hover {

    text-decoration:underline;

  }
  #footer h3{
    height: 20px;
    margin-bottom: 10px;
    border-bottom: solid 1px;
  }
  #footer li.logo{
    display:block;
    margin-top: 15px;
  }
#commentform #submit {
  margin: 0 0 15px auto;
  float: right;
}

#menu { font-size:1.1em; }

.bloc_menu {
  margin-bottom:10px;
}

  .bloc_menu .title {
    padding:6px 8px 3px 8px;
    background: transparent url('../image/bg_column_lateral_netpublic.png') no-repeat top left;
  }

  .bloc_menu .title h2 {
    background-color:#36388B;
    font-size:1.1em;
    color:#ffffff;
    margin:0;
    font-weight:bold;
  }

  .bloc_menu .content {
    margin-bottom:10px;
    padding:3px 10px 10px 10px;
    background: transparent url('../image/bg_column_lateral_netpublic.png') no-repeat bottom left;
  }

  .bloc_menu .content .inside {
    background-color:#fff;
  }

.sites-utiles { margin:0 0 10px 0;}
.sites-utiles img {margin-top:15px;}

#follow_dui { margin:0; }
#follow_dui li { display: inline; margin:6px; }/*7px*/

.submit_ok {
  background:transparent url('../image/btn_ok.jpg') no-repeat left top;
  width:33px;
  height:21px;
  padding:0;
  border:none;
}

.breadcrumb { margin-left:8px; font-size:1.1em; font-weight:bold; }
.breadcrumb, .breadcrumb a, .breadcrumb a:visited { color:#fff; }
.breadcrumb a { text-decoration:underline; }



#agenda h2, #agenda h1 { background:none; padding-left:0; }



.add_favorite { background: transparent url('../image/ico_favorites_add.jpg') no-repeat; padding-left:20px; }
.remove_favorite { background: transparent url('../image/ico_favorites_remove.jpg') no-repeat; padding-left:20px; }


ul#slideshow {
    padding: 0;
    margin: 2px 0 0 0;
    list-style: none;
    position: relative;
}

#slideshow li {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}





/*========================================================*/

.button {
  background-color: #36388B;
  border: 1px solid #777;
  color: #fff;
}

/*========================================================*/

/*.imagebg {
  background: url(images/background.png);
}*/

/*========================================================*/

.navigation {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 16px;
}

.postinfo {
  clear: both;
  margin: 10px 2px 20px 2px;
  padding: 3px 2px 3px 2px;
  border-top: thin dotted #CCC;
  border-bottom: thin dotted #CCC;
  color: #666;
}

.post {
}

.post_list {
  margin-bottom:30px;
}

.post h1, .bloc_center h1, #discussions h2, #hottags h2{
  background:transparent url('../image/arrow_netpublic.jpg') no-repeat left 3px;
  margin:0;
  padding-left:25px;
  color:#ca0a33;
  font-size: 1.4em;
}

h1 a:hover, h1 a:focus, h1 a:active, h1 a:visited, .post h1 a:hover, .post h1 a:focus, .post h1 a:active, .post h1 a:visited { color:#ca0a33; }
.post h1 a { text-decoration:none; color:#ca0a33; }
h2 { color:#ca0a33; }
#content h2, .post h2 { font-size:1.1em;  }


.postinfocom {
  clear: both;
  padding: 4px 2px 2px 2px;
  border-top: thin dotted #CCC;
  border-bottom: thin dotted #CCC;
  color: #666;
  width:690px;
}

.com {
  display: inline;
  float: right;
}

.nocomments {
  text-align: center;
  margin: 0;
  padding: 0;
}

.commentmetadata {
  margin: 0;
  display: block;
  font-weight: normal;
}

.alt {
  background-color: #f0f0f0;
}

#select_theme #form_theme { font-size:12px; }

/*========================================================*/


img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

img.alignleft {
  float: left;
  margin:0 1em 1em 0;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a img.alignright {
  float:right;
  margin:0 0 1em 1em;
}

a img.alignleft {
  float:left;
  margin:0 1em 1em 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}



.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #f3f3f3;
  max-width: 96%;
  padding-top: 5px;
  margin: 10px;
  /* optional rounded corners for browsers that support it */
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  /*border-radius: 3px;*/
}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
   max-width: 100%;
   height: auto;
}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 5px;
   margin: 0;
}

img {
  border: 0;
  height: auto;
}


/*========================================================*/

#topcenter h1 {
  margin: 12px 2px;
  font-size: 2.5em;
  color: #dec;
  display: inline;
  float: left;
}

#topcenter h1 a {
  text-decoration: none;
  color: #dec;
}

#topcenter h2 {
  margin: 24px 0px;
  font-size: 1.2em;
  color: #dec;
  display: inline;
  float: left;
}

/*========================================================*/

.post h2 {
  clear: both;
}

.entry {
  margin: 15px 0 8px 0; /*12 0 8 0*/
  clear:both;
}

.entry ul li {
  margin: 7px 0 8px 10px;
}

.entry ol {
  margin-left: 0;
  padding: 0 0 0 10px;
  text-indent: -10px;
}

.entry ol li {
  margin: 7px 0 8px 10px;
  list-style-position: inside;
}

.entry ol li:before {
  content: "";
}

.entry form {
  text-align:center;
}

.com a {
  background: url(../image/comment.gif) left no-repeat;
  padding-left: 18px;
}

ol.commentlist {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.commentlist li {
  font-size: 0.9em;
}

.commentlist li {
  border: #ccc 1px dotted;
  margin: 4px 0;
  padding: 4px;
}

.commentlist li .avatar {
  float: right;
  border: 1px solid #eee;
  padding: 2px;
  background: #fff;
}

.commentlist cite, .commentlist cite a {
  font-weight: bold;
  font-style: normal;
  font-size: 1.1em;
}

.commentlist p {
  font-weight: normal;
}

.commentmetadata a {
  color: #333;
  text-decoration: none;
}

#commentform input, #commentform textarea {
  font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

#commentform input {
  width: 170px;
  padding: 2px;
  margin: 5px 5px 1px 0;
}

#commentform textarea {
  width: 100%;
  padding: 2px;
}

/*========================================================*/

#sidebar h2 {
  font-size: 1.2em;
  text-decoration: none;
  margin: 0px 0px;
  border-bottom: 1px dotted #888;
}

#sidebar ul ul li:before {
  content: "\00BB \0020";
}

#sidebar ul, #sidebar ul ol {
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  list-style-type: none;
  list-style-image: none;
  margin-bottom: 25px;
}

#sidebar ul p, #sidebar ul select {
  margin: 5px 0 8px;
}

#sidebar ul ul, #sidebar ul ol {
  margin: 0 0 0 10px;
}

#sidebar ul ul ul, #sidebar ul ol {
  margin: 0 0 0 10px;
}

ol li, #sidebar ul ol li {
  list-style: decimal outside;
}

#sidebar ul ul li, #sidebar ul ol li {
  margin: 2px 0 0;
  padding: 0;
  font-size: 90%;
}

#wp-calendar {
  empty-cells: show;
  margin: 10px auto 0;
  width: 155px;
}

#wp-calendar #next a {
  font-size: 9pt;
  padding-right: 10px;
  text-align: right;
}

#wp-calendar #prev a {
  font-size: 9pt;
  padding-left: 10px;
  text-align: left;
}

#wp-calendar a {
   text-decoration: none;
   display: block;
}

#wp-calendar caption {
  text-align: center;
  width: 100%;
  font: bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;
  text-decoration: none;
}

#wp-calendar th {
  font-style: normal;
  text-transform: capitalize;
}

#wp-calendar td {
  padding: 3px 0;
  text-align: center;
}

#wp-calendar td.pad:hover {
  background-color: #fff;
}




/*======================== PAGER (from wp-pagenavi) ================================*/
.wp-pagenavi a, .wp-pagenavi a:link {
    padding: 2px 6px 2px 6px;
    margin: 2px;
    text-decoration: none;
    color: #6a6a6a;
    background-color: #FFFFFF;
}
.wp-pagenavi a:visited {
    margin: 2px;
    text-decoration: none;
    color: #6a6a6a;
    background-color: #FFFFFF;
}
.wp-pagenavi a:hover {
    color: #000000;
    background-color: #FFFFFF;
}
.wp-pagenavi a:active {
    margin: 2px;
    text-decoration: none;
    color: #6a6a6a;
    background-color: #FFFFFF;
}
.wp-pagenavi span.pages {
    padding: 2px 4px 2px 4px;
    margin: 2px 2px 2px 2px;
    color: #000000;
    background-color: #FFFFFF;
}
.wp-pagenavi span.current {
    padding: 2px 4px 2px 4px;
    margin: 2px;
    font-weight: bold;
    color: #36388B;
    background-color: #FFFFFF;
}
.wp-pagenavi span.extend {
    padding: 2px 4px 2px 4px;
    margin: 2px;
    color: #000000;
    background-color: #FFFFFF;
}
.wp-pagenavi .last, .wp-pagenavi .first {
  background:#fff url('../image/btn_pagination.jpg') no-repeat;
}

/* Ajout Julien Siwek - Formations */
/*========================================================*/

.liste-formations{
    padding-top:20px;
    margin-top:20px;
    width:100%;
    overflow:hidden;
    border-top:1px solid #d4d1d8;
}

/* Sidebar */

.liste-formations .sidebar-formations{
    width:216px;
    float:left;
    margin-right:19px;
    text-align:left;
    padding-top:14px;
}

.sidebar-formations label{
    display:block;
    color:#36388b;
    font-size:0.9em;
    margin-bottom:5px;
}

.sidebar-formations select{
    margin-bottom:18px;
    width:100%;
}

.sidebar-formations .mot-cle{
    padding:5px 0 0 10px;
    height:53px;
    background:url(../image/bg_recherche_formation.png) left top no-repeat;
}

.sidebar-formations .mot-cle .text{
    width:110px;
    margin-right:4px;
    vertical-align:middle;
}

.sidebar-formations .mot-cle .submit_ok{
    vertical-align:middle;
    background-image:url(../image/btn_ok.png);
}

/* Inner */

.liste-formations .fomations-inner{
    float:left;
    width:465px;
}

.fomations-inner h2{
    color:#ca0a33;
    font-weight:normal;
    font-size:1.25em;
    margin-bottom:15px;
    padding-left:10px;
}

.fomations-inner .formation{
    padding:5px 10px;
    position:relative;
    margin-bottom:20px;
    border:1px solid #d6d3da;
}

.fomations-inner .formation h3{
    font-size:1.25em;
    font-weight:normal;
    margin-bottom:15px;
}

.fomations-inner .formation h3 a{
    color:#36388b;
}

.fomations-inner .formation p{
    color:#36388b;
    font-size:0.9em;
    margin-bottom:15px;
}

.fomations-inner .formation .voir{
    position:absolute;
    font-size:1.09em;
    color:#000;
    width:48px;
    height:20px;
    right:10px;
    bottom:10px;
    padding-top:5px;
    text-align:center;
    text-decoration:none;
    line-height:1em;
    background:url(../image/btn_voir.png) left top no-repeat;
}

/* Sidebar */

#sidebar-formation{
    padding-top:12px;
    height:108px;
    width:155px;
    margin:0 auto 10px;
    background:url(images/sidebar_formation.jpg) left top no-repeat;
}

#sidebar-formation span{
    display:block;
    color:#36388b;
    margin-bottom:10px;
    text-align:center;
    font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

#sidebar-formation .net{
    display:block;
    height:14px;
    margin-bottom:10px;
    background:url(images/lien_net_public.png) center top no-repeat;
}

#sidebar-formation .net span{
    position:absolute;
    left:-9999em;
}

#sidebar-formation .text{
    margin-right:4px;
    margin-left:7px;
    vertical-align:middle;
    width:95px;
    color:#56555a;
    line-height:1em;
    font-size:0.9em;
    font-style:italic;
}

#sidebar-formation .submit_ok{
    vertical-align:middle;
    background-image:url(images/btn_ok.png);
}

/* PIM CONNEXION */
/*========================================================*/

.titre-pim{
    font-size:1.85em;
    display:block;
    color:#36388b;
    margin-bottom:25px;
}

#pim-login{
    width:239px;
    margin:40px auto 30px;
}

#pim-login .btm{
    height:4px;
    overflow:hidden;
    background:url(images/bg_form_pim.png) left bottom no-repeat;
}

#pim-login .top{
    height:4px;
    overflow:hidden;
    background:url(images/bg_form_pim.png) left top no-repeat;
}

#pim-login fieldset{
    background-color:#dcd9e0;
    padding:20px 25px 10px;
}

#pim-login label{
    color:#36388b;
    display:block;
    margin-bottom:3px;
    text-align:left;
}

#pim-login .input{
    width:100%;
    margin-bottom:8px;
}

#pim-login #user_pass{
    margin-bottom:3px;
}

#pim-login .submit{
    text-align:right;
    margin:0;
}

#pim-login .submit a{
    color:#56555a;
    font-size:0.85em;
}

#pim-login .submit input{
    display:block;
    margin:10px 0 0 auto;
    color:#000;
    width:85px;
    height:25px;
    border:0;
    text-align:center;
    background:url(images/btn_connexion.png) left top no-repeat;
}

.pim-warning{
    color:#ca0a33;
    text-align:center;
}

#pim-login .disabled{
    border:0;
    background:transparent;
}

/* PIM PROFILS */
/*========================================================*/

.pim-container{
    padding:5px 18px;
}

.marg-top35{margin-top:35px}

.std-btn{
    display:inline-block;
    color:#000 !important;
    padding-left:10px;
    text-decoration:none;
    overflow:visible;
    background:url(images/bg_std_btn.png) left top no-repeat;
}

.std-btn span{
    display:inline-block;
    padding:5px 12px 5px 0;
    height:15px;
    cursor:pointer;
    font-size:1em;
    line-height:1em;
    margin-right:-2px;
    background:url(images/bg_std_btn.png) right top no-repeat;
}

.std-btn img{
    vertical-align:middle;
}

* html .std-btn span{
    margin-right:0;
}

.pim-header{
    width:100%;
    overflow:hidden;
    margin-bottom:25px;
}

.pim-header .titre-pim{
    float:left;
    margin:0;
}

.pim-header .animateur{
    float:right;
    width:286px;
    height:26px;
    overflow:hidden;
    padding:4px 6px 3px 20px;
    background:url(images/bg_pim_deco.png) left top no-repeat;
}

.pim-header .animateur .nom{
    float:left;
    color:#36388b;
    margin-top:5px;
    font-size:0.9em;
}

.pim-header .animateur .std-btn{
    float:right;
}

/* Tableau */

.liste-profils-pim{
    width:100%;
    margin-top:15px;
    border-collapse:collapse;
}

.liste-profils-pim td{
    padding:12px 0;
    vertical-align:top;
    border-top:1px dotted #ccc;
}

.liste-profils-pim .nom{
    width:125px;
    padding-right:20px;
    color:#36388b;
}

.liste-profils-pim .infos{
    width:520px;
    padding-right:20px;
}

.liste-profils-pim .infos span{
    color:#36388b;
}

.liste-profils-pim .btn{
    text-align:right;
}

/* Form */

#form-pim-profil{
    padding-top:35px;
    margin-top:30px;
    border-top:1px dotted #ccc;
}

#form-pim-profil .line-inputs{
    width:100%;
    overflow:hidden;
    margin-bottom:35px;
}

#form-pim-profil label, #form-pim-profil .label{
    display:inline-block;
    padding-right:10px;
    color:#36388b;
    text-align:left;
    font-size:0.92em;
    vertical-align:middle;
}


#form-pim-profil .line-inputs .input-text{
    width:145px;
    margin-right:23px;
    vertical-align:middle;
}

#form-pim-profil .line-inputs .last{
    margin-right:0;
}

#form-pim-profil .date{
    float:left;
    margin-right:30px;
}

#form-pim-profil .date .input-text{
    width:35px;
    margin:0 2px;
}

#form-pim-profil .date .annee{
    width:50px;
}

#form-pim-profil .sexe{
    float:left;
    margin-right:20px;
}

#form-pim-profil .sexe input{
    width:13px;
    height:13px;
    vertical-align:middle;
    margin-right:5px;
}

#form-pim-profil .sexe label{
    margin-right:10px;
    color:#56555a;
}

#form-pim-profil .usage{
    float:left;
}

#form-pim-profil .usage select{
    vertical-align:middle;
    width:185px;
}

.dual-btns{
    height:1%;
    padding-right:2px;
    overflow:hidden;
    margin-bottom:30px;
    margin-top:40px;
}

.dual-btns .left{float:left}
.dual-btns .right{float:right}

#form-pim-profil .dual-btns{
    margin-top:50px;
}

#form-pim-profil .dual-btns input{
    width:97px;
    height:25px;
    text-align:center;
    font-size:1em;
    color:#000;
    border:0;
    line-height:1em;
    vertical-align:middle;
    background:url(images/btn_form.png) left top no-repeat;
}

/* PIM ATTESTATION */
/*========================================================*/

#form-pim-attestation{
    border-top:1px dotted #ccc;
    padding:35px 115px 0;
    margin-top:30px;
}

#form-pim-attestation .dual-btns{
    width:225px;
    margin:55px auto 20px;
}

#form-pim-attestation label{
    display:inline-block;
    padding-right:10px;
    color:#36388b;
    text-align:left;
    font-size:0.92em;
    vertical-align:middle;
}

#form-pim-attestation .input-text{
    width:175px;
    vertical-align:middle;
}

#form-pim-attestation  .first{
    margin-right:25px;
}

#form-pim-attestation .input-file{
    width:300px;
    vertical-align:middle;
    margin-right:10px;
}

#form-pim-attestation .infos{
    color:#56555a;
    vertical-align:middle;
}

#form-pim-attestation .stagiaire{
    margin-bottom:25px;
}

/* PIM QUESTIONS */
/*========================================================*/

.pim-quiz-question{
    margin-top:25px;
}

.pim-quiz-question h2, .pim-question{
    padding-top:5px;
    margin-bottom:15px;
    background:url(images/bg_titre_quizz.png) left top no-repeat;
}

.pim-question{
    margin-top:20px;
}

.pim-quiz-question h2 span, .pim-question span{
    display:block;
    color:#36388b;
    font-size:1.4em;
    font-weight:normal;
    line-height:1em;
    padding:10px 15px 15px;
    background:url(images/bg_titre_quizz.png) left bottom no-repeat;
}

.pim-quiz-question .visu-quiz{
    float:left;
    display:block;
    border:1px solid #dcd9e0;
}

.pim-quiz-question .choix{
    float:left;
    width:700px;
    margin-left:18px;
    margin-top:12px;
}

.pim-quiz-question .choix li{
    margin-bottom:15px;
    list-style:none;
}

.pim-quiz-question .choix input{
    margin-right:10px;
    width:13px;
    height:13px;
    vertical-align:middle;
}

.pim-quiz-question .choix label{
    vertical-align:middle;
    font-size:1.23em;
    color:#56555a;
}

.pim-quiz-question .btn{
    clear:both;
    text-align:right;
    padding-top:40px;
}

.pim-quiz-question .btn input{
    width:166px;
    height:25px;
    text-align:center;
    font-size:1em;
    color:#000;
    border:0;
    line-height:1em;
    vertical-align:middle;
    background:url(images/btn_quizz.png) left top no-repeat;
}

.pim-quiz-question .rep{
    color:#4bbb18;
    font-size:1.23em;
    font-weight:normal;
    margin-bottom:10px;
}

/* PIM SCORE */
/*========================================================*/

.pim-full-grey{
    padding-top:20px;
    margin-bottom:40px;
    background:url(images/bg_titre_quizz.png) left top no-repeat;
}

.pim-full-grey h1{
    background:none;
    font-size:1.85em;
    margin-bottom:20px;
}

.pim-full-grey p{
    margin-bottom:20px;
    color:#36388b;
    font-size:1.4em;
}

.pim-full-grey .full-content{
    text-align:center;
    padding:0 140px 20px;
    background:url(images/bg_titre_quizz.png) left bottom no-repeat;
}

.pim-full-grey .dual-btns{
    margin:0 auto;
    width:530px;
}

.pim-reps-quiz{
    width:500px;
    margin:0 auto;
    overflow:hidden;
}

.pim-reps-quiz ul{
    float:left;
    width:130px;
    margin:0 15px;
    display:inline;
}

.pim-reps-quiz li{
    font-size:1.08em;
    margin-bottom:15px;
    line-height:1em;
    list-style:none;
}

.pim-reps-quiz a{
    color:#4bbb18;
    display:block;
    padding:2px 0 2px 25px;
    background:url(images/arrow_quizz.png) left 2px no-repeat;
}

.pim-reps-quiz .no{
    color:#ca0a23;
    background-image:url(images/arrow_netpublic.jpg);
}

/* EXERCICE */
/*========================================================*/

.pim-info{
    color:#56555a;
    font-size:1.08em;
    margin-bottom:35px;
}

.pim-exercice h3{
    color:#36388b;
    font-size:1.4em;
    padding-left:25px;
    margin-bottom:35px;
    line-height:1.5em;
    background:url(images/arrow_exo.png) left 5px no-repeat;
}

.pim-exercice ul{
    margin:25px 0;
    padding:25px 25px 15px;
    border-top:1px dotted #ccc;
}

.pim-exercice li{
    color:#36388b;
    font-size:1.08em;
    margin-bottom:10px;
    list-style-position:inside;
}

.pim-exercice .dual-btns .right{
    margin-left:10px;
}
