/*
 * Copyright 2007-2015
 * - Erwan Leherisse    <contact CHEZ imaginair POINT net>
 * - Melanie Bats   <melanie POINT bats CHEZ utbm POINT fr>
 * - Thomas Petazzoni   <thomas POINT petazzoni CHEZ enix POINT org>
 * - Jean-Marie Favreau <jeanmarie POINT favreau CHEZ free POINT fr>
 *
 * This file is part of agenda-libre-php.
 *
 * agenda-libre-php is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * agenda-libre-ph is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with agenda-libre-php.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Supp des marges par defaut*/
* {
    margin: 0px;
    padding: 0px;
    line-height: 1em;
}

body {
    background-color: #9CC5EE;/*#5DBFEC;/*#c7e0ed;*/
    font-size: 62.5%;/*10px*/
    font-family: georgia,serif;
    color: black;
    line-height: 1.3em;
}

a:link, a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #336699;
}
a:hover, a:active,a:focus {
    color: #2E97FF;/*#4e9eed;/*#1280C7;*/
    text-decoration: none;
}

input,textarea,select {
    border: 1px solid #868686;
    margin: 3px 0;
}
input:focus ,textarea:focus,select:focus {
    background: #F0F8FF;
}
label {
    font-style: italic;
}
code {
    font-family: monospace;
}

/* Blocs principaux */
div.main {
    background: url('../image/baby_gnu_adl.png') 30px 10px no-repeat white;
    border: 1px solid #68A6E5;/*#ADCCE5;*/
    border-bottom: 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    margin: 5px 5px 0px;
    padding: 10px 10px 10px;
    font-size: 1.6em;
    text-align: center;
}

div.footer {
    background-color: white;
    border: 1px solid #68A6E5;/*#ADCCE5;*/
    border-top: 0px dotted #5DBFEC;/*#ADCCE5;*/
    -moz-border-radius: 0px 0px 20px 20px ;
    margin: -1px 5px 5px 5px;
    padding: 2px;
    text-align: center;
    font-size: 1.3em;
    color: black;
}

div.footer p {
    margin: 5px;
}

div.main p {
 text-align: justify;
}

.main h1 {
    margin: 10px 5px 5px 5px;
    text-align: center;
    font-size: 2.1em;
    letter-spacing: 2px;
    line-height: 1em;
}
.main h2 {
    margin: 50px 0px 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.main h3 {
    margin: 1.1em 0 1em;
    font-size: 1.2em;
    text-align: left;
}
.main ol,.main ul { margin: 10px 0px 10px 35px; text-align: left;}

.main li {  margin-left: 2em; line-height: 1.3em;}

.main hr {  margin: 10px 20px;}

.main p {   margin: 15px 0px; line-height: 1.3em;}

.main pre {
            text-align: left;
            background: #eeeeee;
            overflow: auto;
            width: 70%;
            padding: 5px;
            margin: auto;
}

.toggleeditor_link {
    margin-top: 0;
    text-align: right !important;
    font-size: 0.8em;
    width: 650px;
}

/* Info box rss/ical */
#important {
    /*position: absolute; */
    float: right;
    top: 1em;
    right: 1em;
    width: 6em;
}

#important p {
    margin: 0px;
    padding: 2px;
    font-size: 0.7em;
}

#subtitle {
    margin-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 0.8em;
}

p.error {
    color: red;
    font-weight: bold;
}

p.warning {
    color: orange;
    font-weight: bold;
}

p#notice {
    font-size: 0.8em;
    text-align: right;
    width: 90%;
    margin: 10px auto;
}

h2.calendar {
    margin-top: 1em;
    color : #222;
    font-size: 1.5em;
    margin-bottom: 5px;
}
h2.calendar a {
    font-weight: normal;
}

h3.calendar {
    text-align: center;
}
/* Selection region */
form.calendar p {
    margin-bottom: 20px;
    text-align: center;
}
h2.calendar select {
    border: 1px solid #AAAAAA;
    }
table {
    text-align: left;
}
/* Table principale */
table.calendar {
    width: 90%;
    margin: 0 auto;
}
table.calendar th {
    padding-bottom: 5px;
    text-align: center;
}
table.calendar td {
    height: 6em;
    width: 14%;
    -moz-border-radius: 5px;
    vertical-align: top;
    text-align: left;
    font-size: 0.8em;
    color: #444444;
}

table.calendar td h1 {
    margin: 0px 1px 3px 1px;
    text-align: left;
    font-size: 0.8em;
    color : #727070;
    line-height: 1.1em;
}

table.calendar td:hover h1 {
    color: #000;
}

table.calendar td ul {
    padding-left: 15px;
    margin: 0px;
    list-style-type: circle;
}

table.calendar td ul li {
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
    line-height: 1.1em;
}



/*
 * These attributes apply to all cells of the agenda
 */
td a:link, td a:visited {
    font-weight: normal;
    text-decoration: none;
    color: #444444;
}

td a:hover, td a:active {
    color: #000;
}

/*
 * These attributes apply to the cells that correspond to the days
 * already past in the current month.
 */
td.past_month {
    background: #A1C3E7;/*#C9E2F5;*/
    border: 1px solid #89B7E5;/*#6D94BE;/* #C9E2F5;;/*#ADCCE5;*/

}

td a:link,td a:visited {
    color: #666;
}

td.past_month a:hover, td.past_month a:active,td.current_month  a:hover{
    color: #000;
}

/*
 * These attributes apply to the cells that correspond to the future
 * days in the current month.
 */
td.current_month {
    background: #C6E5FF;/*#D1EAFF;/*e0faff--e6fbff--e5f6ff*/
    border : 1px solid #96CFFF;/*#97C8F0;/*#B4DDFF;*/
}
table.calendar td.current_month h1 {
    font-size: 1em;
}
table.calendar td.past_month h1 {
    font-size: 0.8em;
}
/*
 * These attributes apply to the cell corresponding to the current day
 */
td.today {
    background: #ffe0c7;/*#FFC991;*/
    border: 1px solid #FFB578;/*#FFC991;/*#FFB05F*/
}

table.calendar td.today h1 {
    font-size: 1em;
    color : #544f32;
}
table.calendar td.today a {
    color :  #8F4900;
}
table.calendar td.today a:hover {
    color : #543a1f;/*#523c31;/*#FF9A00;*/
}

/*
 * These attributes apply to the cells that correspond to days in the
 * previous or next month of the current month
 */
td.other_month {
    background: #ededed;
}

td.other_month a:link,  td.other_month a:visited {
    color: #888;
}

td.other_month a:hover, td.other_month a:active {
    color: #000;
}

/* Carte evenements/localgroups */

#region-map {
    border: 0px;
    margin-left: 16em;
}

dl.region-map-event {
    position: absolute;
    background: #DFEDFF;
    border: 1px solid #A3CCFF;
    margin: 0.5em 0 0 0;
    padding: 3px;
    width: 16em;
    z-index: 2;
    text-align: left;
    overflow: hidden;
    list-style: none;
}

dl.region-map-event dt {
    border-bottom: 1px solid #000;
    margin-bottom: 0.2em;
    font-size: 0.9em;
    line-height: 1.4em;
}

dl.region-map-event dd {
    border: none;
    margin-bottom: 0.3em;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 1.1em;
}

dl.region-map-event ul {
    line-height: 0.8em;
}
dl.region-map-event li {
    margin-left: 0px;
}
/*
 * Advises for event submission. (used only in submit.php)
 */
#advises {
    background: #ffe0c7;/*#FFC991;*/
    border: 1px solid #FFB578;/*#FFC991;/*#FFB05F*/
    margin: 10px 100px 20px 100px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#advises h1 {
    font-size: 1.9em;
    font-weight: normal;
}

/*
 * Statistics (used only by stats.php)
 */

table.stats {
    width: 60%;
}

table.stats tr.odd,table.list tr.odd {
    background-color: #D1EAFF;
}

table.stats tr.even,table.list tr.even {
    background-color: #C9E2F5;
}

table.stats td.item,table.list td.item {
    width: 90%;
  padding: 0.2em;
}

table.stats td.value {
    text-align: right;
}
table.list {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
table.list td {
  text-align: center;
  padding: 0.2em;
}
table.list a {
    font-weight: bold;
    color: #336699;
}
table.list td a:hover, a:active {
  text-decoration: underline;
  color: #336699;
}
/*
 * Localgroup list (used only by showevent.php)
 */
#localgroup-list {
    float: right;
    background: #D6ECFF;/*#C6E5FF;*/
    border : 1px solid #96CFFF;
    -moz-border-radius: 10px;
    margin: 8em 1.2em 0px;
    padding: 5px;
    width: 15em;
    font-size: 0.7em;
}

#localgroup-list h1 {
    border-bottom: 1px black solid;
    padding-bottom: 4px;
    font-size: 1.3em;
    line-height: 1.1em;
    font-weight: normal;
    font-family: Georgia,sans-serif;
}

#localgroup-list ul {
    text-align: left;
    line-height: 1.2em;
    margin-left:1em;
}
#advises a{
    color :  #8F4900;
}
#advises a:hover {
    color : #543a1f;
}

/* Moderation interface specific definitions */
p.moderationheader {
           background: #cccccc;
           margin-left: 5em;
           margin-right: 5em;
}

div.moderationbox {
          background: #cccccc;
          width: 70%;
          padding: 1em;
          margin: auto;
          margin-bottom: 10px;
}
